@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');

.container {  
  display: flex;
  justify-content: center;
  height: 95vh; 
  background-color: #ffffff;
}

.chatPageContainer {
  display: inline-block;
  z-index: 5;
}

.landingPageContainer {
  display: flex;
  z-index: 5;
  margin-top: -70px;
  align-items: center;
}

.logo {
  margin: 0;
  padding: 0;

  font-family: 'Manrope', sans-serif;
  font-size: xx-large;
    
  position: absolute;
  top: 25px;
  right: 45px;
}

/* Styles for the button */
.runButton {  
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  
  display: inline-block;
  position: relative;

  width: 150px;  
  height: 46px;
  
  background-color: #000000; /* Black background color */  
  color: white;
  font-size: 20px;
  border: none; /* Remove the border */
}

.linkInput {
  flex: 5;
  display: inline-block;
  width: 500px;

  margin-left: 80px;
  margin-right: 35px;

  padding-left: 20px;
  border-radius: 0px;

  border: 2px solid black;
  
  height: 40px;
}

.linkInput:focus {
  border-radius: 20px;  
  border: 2px solid black;
  outline: none;
}

.circle1 {
  display: inline-block;
  position: fixed;
  top: -300px;
  right: -55px;
  
  width: 703px;
  height: 501px;
  

  border-radius: 703px;
  background: #E1ED96;

  filter: blur(100.3499984741211px);
  z-index: 0;
}

.circle2 {
  display: inline-block;
  position: fixed;
  bottom: 250px;
  left: -240px;
  
  width: 400px;
  height: 500px;
  
  border-radius: 150px;
  background: #96CEED;

  filter: blur(50.3499984741211px);
  z-index: 0;
}

.responsesContainer {    
  display: block;  
}

.bottomSpacer {
  display: block;  
  height: 190px;
}
.chatInputAndButtonContainer {
  display: inline-block;
  position: fixed;

  left: 0px;
  bottom: 0px;  
  --height: 14vh;
  height: var(--height);
  width: 100%;

  text-align: center;
  /* background-color: blue;   */

  padding-top: calc(0.4*var(--height) - 20px);;
  border-top: 2px solid #D3D3D3;
  background-color: white;

  z-index: 5;
}

.chatInput {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;

  display: inline-block;
  position: relative;
  
  width: 800px;
  height: 60px;

  margin-right: 35px;
  padding-left: 20px;
  border-radius: 0px;  

  border: 2px solid black;  
}

.chatInput:focus {
  border-radius: 20px;  
  border: 2px solid black;
  outline: none;
}

.sendButton {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  
  display: inline-block;
  position: relative;

  width: 55px;
  height: 55px;

  border-radius: 50px;
  background-color: #000000; /* Black background color */  
  color: white;
  font-size: 20px;
  border: none; /* Remove the border */
}

.responseContainer {
  /* display: block; */
  /* height: 100%; */

  position: relative;
  top: 50px;

  text-align: left;
  width: 52vw;
  margin-bottom: 30px;
  padding-top: 10px;

  vertical-align: top;
  border-top: 2px solid #D3D3D3;
}

.responseTitle {
  position: relative;
  top: 0px;
}

.responseBody {
  position: relative;
  top: 0px;
}

.videosContainer {
  display: flex;
  /* white-space: nowrap;  */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.videoContainer {
  
  display: inline-block;
  /* align-items: center; 
  justify-content: center;  */
  
  height: 220px;
  width: 270px;

  /* background-color: lightcyan;     */

  margin: 10px 70px 20px 0px;

  /* text-align: center; */ 
}

.videoText {
  margin: 0px;
}
