.container {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #ffffff;
}

/* Styles for the button */
.runButton {
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White text color */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Adjust padding to make the button square */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  display: flex;
  z-index: 5;
  margin-top: -70px;
}

.linkInput {
  flex: 5;
  display: inline-block;
  width: 500px;

  margin-left: 80px;
  margin-right: 35px;

  padding-left: 20px;
  border-radius: 0px;

  border: 2px solid black;
}

.linkInput:focus {
  border-radius: 20px;  
  border: 2px solid black;
  outline: none;
}

.runButton {
  flex: 1;
  display: block;  
}

.circle1 {
  display: inline-block;
  position: fixed;
  top: -300px;
  right: 150px;
  
  width: 703px;
  height: 501px;
  

  border-radius: 703px;
  background: #E1ED96;

  filter: blur(100.3499984741211px);
  z-index: 1;
}

.circle2 {
  display: inline-block;
  position: fixed;
  bottom: -300px;
  left: 50px;
  
  width: 703px;
  height: 501px;
  

  border-radius: 703px;
  background: #96CEED;

  filter: blur(100.3499984741211px);
  z-index: 1;
}

.chatInputAndButtonContainer {
  display: inline-block;
  position: fixed;

  left: 0px;
  bottom: 0px;  
  --height: 24vh;
  height: var(--height);
  width: 100%;

  text-align: center;
  z-index: 5;
  /* background-color: blue;   */

  padding-top: calc(0.4*var(--height) - 20px);;
  border-top: 2px solid #D3D3D3;
}

.chatInput {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;

  display: inline-block;
  position: relative;
  
  width: 800px;
  height: 60px;

  margin-right: 35px;
  padding-left: 20px;
  border-radius: 0px;  

  border: 2px solid black;
}

.chatInput:focus {
  border-radius: 20px;  
  border: 2px solid black;
  outline: none;
}

.sendButton {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  
  display: inline-block;
  position: relative;

  width: 55px;
  height: 55px;

  border-radius: 50px;
  background-color: #000000; /* Black background color */  
  color: white;
  font-size: 20px;
  border: none; /* Remove the border */
}